.App,.header {
  height:96.2%;
}

.mine {
    width:50%;
    background-color:lightblue;
    display:flex
}
.dealer {
    width: 50%;
    background-color: lightblue;
    display: flex;
    overflow: auto;
}
.infoDisplayer{
    width: 50%;
    background-color: whitesmoke
}
.gameActions{
    width: 50%;
    background-color: whitesmoke
}
.rows{
    height:50%;
    width:100%;
    display:flex;
}
.titulo{
    margin:0;
    text-align:center;
}